{% extends "layouts/base.html" %}

{% block title %}Login {% endblock %}

{% block content %}
<div class="row justify-content-center w-20">
    <div class="col-md-6">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Sign in</h4>
            </div>
                <div class="card-body ">
                    <form action="{{ url_for('auth.login') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input 
                                type="email" 
                                name="email" 
                                id="email", 
                                class="form-control", 
                                placeholder="Enter your email" 
                                required 
                                autofocus>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input 
                                type="password" 
                                name="password" 
                                id="password" 
                                required 
                                placeholder="Enter your password" 
                                class="form-control">
                        </div>
                        <div class="mb-3 form-check">
                            <div class="form-check-input"></div>
                            <div class="form-check-label">Remember me</div>
                        </div>

                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Sign in</button>
                        </div>
                    </form>
                    
                    <p class="text-center mb-0 small">
                        Don't have an account? 
                        
                        <a href="{{ url_for('auth.register') }}" class="text-warning">Sign Up</a>
                    </p>
                </div>
            
        </div>
    </div>
</div>

{% endblock %}
